<%- include('partials/headertwo') %>

<div class="container">
	<div class="row">
  	<% for (let i = activities.length - 1; i >= 0 ; i--) {  %>
  	
    	<div class="col-md-6 col-12 mt-1 mb-1">
    		<div class="card">
  				<div class="card-body shadow rounded">
    				<ul class="list-group list-group-flush">
    					<li class="list-group-item"><h3 style="color: #28a745"><%= activities.length - i%>. Changed By : <%=activities[i].changedBy%></h3></li>
    					<li class="list-group-item"><h4 style="color: #28a745">Time: <%=activities[i].time%></h4></li>
    					<li class="list-group-item" style="color: black"><h5>Product Name &nbsp: <%=activities[i].name%></li>
    					<li class="list-group-item" style="color: black"><h5>Previous Qunatity &nbsp: <%=activities[i].quantityOld%></li></h5>
    					<li class="list-group-item" style="color: black"><h5>Modified Quantity &nbsp: <%=activities[i].quantityNew%></li></h5>
  					</ul>   		
  				</div>
			</div>
		</div>
	
  	<% } %>
  	</div>
</div>


<%- include('partials/footer') %>
