<%- include('partials/headertwo') %>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<button type="button" class="btn btn-outline-success btn-block shadow-lg rounded" data-toggle="modal" data-target="#Newproduct">
					Add New Product
				</button>
			</div>
			<div class="col-md-3 col-sm-6">
				<button type="submit" class="btn btn-outline-success btn-block shadow-lg rounded">
					Graphical Analysis
				</button>
			</div>
			<div class="col-md-3 col-sm-6">
				<button type="submit" class="btn btn-outline-success btn-block shadow-lg rounded">
					Activity Log
				</button>
			</div>
			<div class="col-md-3 col-sm-6">
				<button type="submit" class="btn btn-outline-success btn-block shadow-lg rounded">
					Search Product
				</button>
			</div>
			<div class="float-right">
	      <a href="/logout" class="btn btn-outline-danger">Logout</a>
	    </div>
		</div>
		<div class="row mt-2">
			<div class="col-md-3 col-6 mt-1 mb-1">
				<% for (let i = 0; i < item.length; i++) { %>
				<div class="card shadow-lg bg-white rounded">
  					<img class="card-img-top w-75 d-block mx-auto shadow-lg pt-1 bg-white rounded" src="http://localhost:3000/images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title"><%=item[i].name%></h5>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Quantity <span><%= item[i].quantity %></span></li>
  					</ul>
  					<div class="row mt-1 p-1">
  						<div class="col-6">
  							<form action="/change" method="post">
            				<input type="number" class="form-control" id="quantity" name="first"  placeholder="Quantity">
										<button type="submit" value= "<%= item[i]._id %>" name="button1" >Submit</button>
         				</form>
         			</div>
         				<div class="col-3"></div>
         				<div class="col-6">
									<form class="" action="/delete" method="post">
											<button type="submit" value= "<%= item[i]._id %>" name="delete1" >Delete</button>
									</form>

         				</div>
         			</div>
				</div>
				<% } %>
			</div>
			<!-- <div class="col-md-3 col-6 mt-1 mb-1">
				<div class="card shadow-lg bg-white rounded">
  					<img class="card-img-top w-75 d-block mx-auto shadow-lg pt-1 bg-white rounded" src="http://localhost:3000/images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Product Name</h5>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Quantity <span>50</span></li>
  					</ul>
  					<div class="row mt-1 p-1">
  						<div class="col-6">
  						<form>
          					<div class="form-group">
            					<input type="number" class="form-control" id="quantity" placeholder="Quantity">
         					</div>
         				</form>
         				</div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-success shadow-sm rounded">Submit</a>
         				</div>
         				<div class="col-3"></div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-danger shadow-sm rounded">Delete</a>
         				</div>
         			</div>
				</div>
			</div>
			<div class="col-md-3 col-6 mt-1 mb-1">
				<div class="card shadow-lg bg-white rounded">
  					<img class="card-img-top w-75 d-block mx-auto shadow-lg pt-1 bg-white rounded" src="http://localhost:3000/images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Product Name</h5>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Quantity <span>50</span></li>
  					</ul>
  					<div class="row mt-1 p-1">
  						<div class="col-6">
  						<form>
          					<div class="form-group">
            					<input type="number" class="form-control" id="quantity" placeholder="Quantity">
         					</div>
         				</form>
         				</div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-success shadow-sm rounded">Submit</a>
         				</div>
         				<div class="col-3"></div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-danger shadow-sm rounded">Delete</a>
         				</div>
         			</div>
				</div>
			</div>
			<div class="col-md-3 col-6 mt-1 mb-1">
				<div class="card shadow-lg bg-white rounded">
  					<img class="card-img-top w-75 d-block mx-auto shadow-lg pt-1 bg-white rounded" src="http://localhost:3000/images/tim-swaan-eOpewngf68w-unsplash.jpg" alt="Card image cap">
  					<div class="card-body">
    					<h5 class="card-title">Product Name</h5>
  					</div>
  					<ul class="list-group list-group-flush">
    					<li class="list-group-item">Quantity <span>50</span></li>
  					</ul>
  					<div class="row mt-1 p-1">
  						<div class="col-6">
  						<form>
          					<div class="form-group">
            					<input type="number" class="form-control" id="quantity" placeholder="Quantity">
         					</div>
         				</form>
         				</div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-success shadow-sm rounded">Submit</a>
         				</div>
         				<div class="col-3"></div>
         				<div class="col-6">
         					<a href="#" class="card-link btn btn-block btn-outline-danger shadow-sm rounded">Delete</a>
         				</div>
         			</div>
				</div>
			</div> -->

			<!--Product Modal -->
			<div class="modal fade" id="Newproduct" tabindex="-1" role="dialog" aria-labelledby="Newproduct" aria-hidden="true">
  				<div class="modal-dialog modal-dialog-centered" role="document">
    				<div class="modal-content">
      					<div class="modal-header">
        					<h5 class="modal-title" id="exampleModalLongTitle">Add New Product</h5>
        					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          					<span aria-hidden="true">&times;</span>
        					</button>
      					</div>
      					<div class="modal-body">
        					<form action="/secrets" method="post">
          						<div class="form-group">
            						<label for="recipient-name" class="col-form-label">Product Name</label>
            						<input type="text" class="form-control" id="quantity" name="input1">
         						</div>
          						<div class="form-group">
            						<label for="recipient-name" class="col-form-label">Quantity</label>
            						<input type="number" class="form-control" id="quantity" name="input2">
         						</div>
										<div class="modal-footer">
		       				 		<!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>	 -->
		        					<button type="submit" class="btn btn-primary">Save changes</button>
		      					</div>
         					</form>
      					</div>

    				</div>
  				</div>
			</div>
		</div>
	</div>

<%- include('partials/footer') %>
